/** Computes a top-shadow for a card effect. @param {Number} $depth - depth level @return {List} */
/** Computes a bottom-shadow for a card effect. @param {Number} $depth - depth level @return {List} */
/** Gives a card depth effect. @param {Number} $depth - depth level (between 1 and 5) @link http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality Google Design @requires {function} top-shadow @requires {function} bottom-shadow */
* { box-sizing: border-box; }

body { background-color: #FAFAFA; color: #000; font-size: 16px; font-family: "Roboto", sans-serif; }

.u-flex, .nosotros .nosotros-item, .nosotros .nosotros-itemLinks { display: flex; }

.br { border: 1px solid red; }

.header { background-image: url("../images/bg-header-4.jpg"); background-repeat: no-repeat; background-size: cover; height: 100vh; padding: 0 !important; }

.header .wrapper { width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.6); }

.header-title { display: flex; flex-direction: column; justify-content: center; align-items: center; height: 50vh; margin: 0 !important; }

.header-title .logoContainer { width: 50%; }

@media (max-width: 767px) { .header-title .logoContainer { width: 80%; } }

.header-title .title { font-family: "Playfair Display", serif; margin-top: 2rem; color: #fafafa; border-bottom: 2px solid #ff6000; }

.header-title .title h1 { font-size: 2.5rem; margin: 0; }

@media (max-width: 767px) { .header-title .title h1 { font-size: .9rem; } }

@media (min-width: 768px) and (max-width: 979px) { .header-title .title h1 { font-size: 1.5rem; } }

.header-sections { display: flex; justify-content: center; align-items: center; height: 50vh; text-align: center; margin: 0 !important; }

.header-sections img { display: inline-block; margin: 0 auto; border-radius: 50%; }

.header-sections a { text-decoration: none; color: #fff; }

.header-sections a:hover { color: #ff6000; }

.resena { border-bottom: 1px solid #e1e1e1; padding: 5rem 0; }

.resena-item { padding: 0 6rem; }

.resena .title { font-family: "Playfair Display", serif; margin: 1rem 0; }

.resena .paragraph { text-align: justify; padding: 1rem; border-radius: 10px; border: 1px solid rgba(0, 0, 0, 0.1); background-color: #FAFAFA; box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.proyectos { position: relative; overflow: hidden; padding: 5rem 0; border-bottom: 1px solid #e1e1e1; }

.proyectos .title { font-family: "Playfair Display", serif; margin: 0 0 2rem 0; }

.proyectos img { margin: 0 auto 1.5rem; width: 600px; height: auto; max-height: 337.5px; }

.proyectos .prev, .proyectos .next { position: absolute; top: 50%; z-index: 1; cursor: pointer; margin-top: -22px; padding: 1rem 2rem; color: #000; text-decoration: none; font-weight: bold; font-size: 28px; transition: background-color 0.6s ease; border-radius: 0 3px 3px 0; background-color: #red; }

.proyectos .prev:hover, .proyectos .next:hover { background-color: rgba(0, 0, 0, 0.8); }

.proyectos .prev { left: 0; }

.proyectos .next { right: 0; }

.proyectos .slide { display: none; }

.proyectos .fade-in { animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

@keyframes fade-in { 0% { opacity: 0; }
  100% { opacity: 1; } }

.nosotros .nosotros-item { flex-direction: column; align-items: center; }

.nosotros .nosotros-itemImg { border-radius: 50%; }

.nosotros .nosotros-itemPara { padding: 0 6rem; }

.nosotros .nosotros-itemLinks { justify-content: space-between; width: 60%; }

.nosotros .nosotros-itemLinks a { color: #000; }

.footer { padding: 0 !important; height: 400px; position: relative; }

.footerMap { height: 100%; }

.footerContact { position: absolute; top: 50%; left: 50px; transform: translateY(-50%); width: 30%; height: 70%; background-color: #7f7f7f; color: #ededed; }

.footerContactDir { margin-left: 1.5rem; font-family: "Roboto", sans-serif; }

.footerContactLinks { margin-left: 1.5rem; font-family: "Roboto", sans-serif; }

.footerContactLinks .item { color: #b34300; }

.footerContactLinks .item:hover { opacity: .8; }
