.header {
	&-logoContainer {
		width: 50%;
		margin: 0 auto;
	}
	&-title {
		& h1{
			font-family: $font-title;
			font-size: 2.5rem;
			margin: .2rem auto 1rem;
			width: 80%;
			border-top: 1.5px solid $color-accent;
			border-bottom: 1.5px solid $color-accent;
		}
 	}
	&-sectionsContainer {
		a {
			text-decoration: none;
			color: $color-text;
			font-family: $font-text;
		}
		& img {
			margin: 0 auto;
		}
	}

}


