.resena {
	border-bottom: 1px solid darken($color-background, 10);
	padding: 5rem 0;
	&-item{
		padding: 0 6rem;
	}
	.title{
		font-family: $font-title;
		margin: 1rem 0;
	}
	.paragraph {
		text-align: justify;
		padding: 1rem;
		border-radius: 10px;
		border: 1px solid rgba(black, .1);
		background-color: $color-background;
		@include card(1);
	}
}