.proyectos{
	position: relative;
    overflow: hidden;
	padding: 5rem 0;
	border-bottom: 1px solid darken($color-background, 10);
	.title{
		font-family: $font-title;
		margin: 0 0 2rem 0;
	}
	.description{}
	img{
		margin: 0 auto 1.5rem;
		width: 600px;
		height: auto;
		max-height: 337.5px;
	}

	.prev, .next {
		position: absolute;
		top: 50%;
		z-index: 1;
		cursor: pointer;
		margin-top: -22px;
		padding: 1rem 2rem;
		color: $color-text;
		text-decoration: none;
		font-weight: bold;
		font-size: 28px;
		transition: background-color 0.6s ease;
		border-radius: 0 3px 3px 0;
		background-color: #red;
	  &:hover {
		background-color: rgba($color-text, 0.8);
	  }
	}
	.prev{
		left: 0;
	}
	.next {
	  right: 0;
	  // border-radius: 3px 0 0 3px;
	}
	.slide {
		display: none;
	}
	.fade-in {
		animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	}

	@keyframes fade-in{0%{opacity:0}100%{opacity:1}}
}