.footer {
	padding: 0 !important;
	height: 400px;
	position: relative;
	&Map {
		height: 100%;
	}
	&Contact {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 30%;
		height: 50%;
		background-color: blue;
	}
}
