$color-primary: #0adef0;
$color-accent: #ff6000;
$color-text: #000;
$color-background: #FAFAFA;
$color-backgroundMap: #bfbfbf;

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$font-size: 16px;
$font-title: 'Playfair Display', serif;
$font-text: 'Roboto', sans-serif;