header.container-fluid
	.row.header-logoContainer
		img(class='header-logo img-responsive' src='/images/logo.png')
	.row.header-sectionsContainer.text-center
		.col-xs-4
			a( href='#')
				figure
					img(class='img-responsive' src='http://www.fillmurray.com/200/200')
					figcaption Reseña
		.col-xs-4
			a( href='#')
				figure
					img(class='img-responsive' src='http://www.fillmurray.com/200/200')
					figcaption Nosotros
		.col-xs-4
			a( href='#')
				figure
					img(class='img-responsive' src='http://www.fillmurray.com/200/200')
					figcaption Proyectos