.col-xs-4
	a( href='#')
		img(class='img-responsive' src='https://dummyimage.com/150')
		h3 Reseña
.col-xs-4
	a( href='#')
		img(class='img-responsive' src='https://dummyimage.com/150')
		h3 Nosotros
.col-xs-4
	a( href='#')
		img(class='img-responsive' src='https://dummyimage.com/150')
		h3 Proyectos