.container.resena
	.row
		.resena-item.col-xs-12.col-sm-4
			h3.text-center Misión
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti molestiae soluta, nam sapiente minus magni nobis quaerat libero delectus quia consequuntur, rem iure, quasi tenetur unde voluptatum labore doloribus neque.
		.resena-item.col-xs-12.col-sm-4
			h3.text-center Visión
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti molestiae soluta, nam sapiente minus magni nobis quaerat libero delectus quia consequuntur, rem iure, quasi tenetur unde voluptatum labore doloribus neque.
		.resena-item.col-xs-12.col-sm-4
			h3.text-center ¿Qué hacemos?
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti molestiae soluta, nam sapiente minus magni nobis quaerat libero delectus quia consequuntur, rem iure, quasi tenetur unde voluptatum labore doloribus neque.