.container.resena
	.row
		.resena-item.col-xs-12.col-sm-4
			h3.title.text-center Misión
			p.paragraph
				| Promover la universalización y democratización de la información y el conocimiento en la comunidad educativa, mediante el uso de las Tecnologías de Información y Comunicación Libres (TICL) y en la producción de soluciones educativas tecnológicas de enseñanza y aprendizaje, resaltando las características geohistóricoculturales del Estado Anzoátegui.
		.resena-item.col-xs-12.col-sm-4
			h3.title.text-center Visión
			p.paragraph  
				| Contribuir con la formación integral del ciudadano,incorporando el uso de las TICL en el desarrollo de las actividades académicas y en la producción de soluciones educativas tecnológicas de enseñanza y aprendizaje a partir del enfoque geohistórico de nuestro Estado.
		.resena-item.col-xs-12.col-sm-4
			h3.title.text-center ¿Qué hacemos?
			p.paragraph  
				| Elaborar soluciones educativas tecnológicas de enseñanza y aprendizaje, resaltando las características geohistóricoculturales del Estado Anzoátegui.