.container.proyectos
	.row
		section.fade-in.slide.col-xs-12.text-center
			h3 El Cuerpo Humano
			img.img-responsive(src='http://www.fillmurray.com/400/200')
			span.description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, saepe.
		section.fade-in.slide.col-xs-12.text-center
			h3 Text Number 2
			img.img-responsive(src='http://lorempixel.com/400/200/sports')
			span.description  text 2 ipsum dolor sit amet, consectetur adipisicing elit. Optio, saepe.
		section.fade-in.slide.col-xs-12.text-center
			h3 Text Number 3
			img.img-responsive(src='http://lorempixel.com/400/200/sports')
			span.description  text 3 ipsum dolor sit amet, consectetur adipisicing elit. Optio, saepe.
		a.prev &#x276E;
		a.next &#x276F;