.container.proyectos
	.row
		section.fade-in.slide.col-xs-12.text-center
			h3.title El Cuerpo Humano
			img.img-responsive(src='images/proyecto-1.png')
			span.description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, saepe.
		section.fade-in.slide.col-xs-12.text-center
			h3.title Text Number 2
			img.img-responsive(src='https://dummyimage.com/400x200')
			span.description  text 2 ipsum dolor sit amet, consectetur adipisicing elit. Optio, saepe.
		section.fade-in.slide.col-xs-12.text-center
			h3.title Text Number 3
			img.img-responsive(src='https://dummyimage.com/400x200')
			span.description  text 3 ipsum dolor sit amet, consectetur adipisicing elit. Optio, saepe.
		a.prev &#x276E;
		a.next &#x276F;