.container.nosotros
	.row
		.nosotros-item.col-xs-12.col-sm-4
			figure
				img.nosotros-itemImg(src='http://lorempixel.com/200/200/sports' alt='madeleine Flores')
				figcaption.text-center Madeleine Flores
			p.nosotros-itemPara.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti molestiae soluta, nam sapiente minus magni nobis quaerat libero delectus quia consequuntur, rem iure, quasi tenetur unde voluptatum labore doloribus neque.
			.nosotros-itemLinks
				a(href="#")
					i.fa.fa-envelope.fa-2x
				a(href="#")
					i.fa.fa-phone.fa-2x
				a(href="#")
					i.fa.fa-twitter.fa-2x
		.nosotros-item.col-xs-12.col-sm-4
			figure
				img.nosotros-itemImg(src='http://lorempixel.com/200/200/sports' alt='Rafael López')
				figcaption.text-center Rafael López
			p.nosotros-itemPara.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti molestiae soluta, nam sapiente minus magni nobis quaerat libero delectus quia consequuntur, rem iure, quasi tenetur unde voluptatum labore doloribus neque.
			.nosotros-itemLinks
				a(href="#")
					i.fa.fa-envelope.fa-2x
				a(href="#")
					i.fa.fa-phone.fa-2x
				a(href="#")
					i.fa.fa-twitter.fa-2x
		.nosotros-item.col-xs-12.col-sm-4
			figure
				img.nosotros-itemImg(src='http://lorempixel.com/200/200/sports' alt='Franklin Lugo')
				figcaption.text-center Franklin Lugo
			p.nosotros-itemPara.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti molestiae soluta, nam sapiente minus magni nobis quaerat libero delectus quia consequuntur, rem iure, quasi tenetur unde voluptatum labore doloribus neque.
			.nosotros-itemLinks
				a(href="#")
					i.fa.fa-envelope.fa-2x
				a(href="#")
					i.fa.fa-phone.fa-2x
				a(href="#")
					i.fa.fa-twitter.fa-2x