footer.container-fluid.footer
	.footerMap#footerMap
	.footerContact
		h3.text-center Centro de Producci칩n de Soluciones Educativas Tecnol칩gicas
		h4.text-center Anzo치tegui
		p.footerContactDir
			| Av Nueva Barcelona
			br
			| Barcelona, Anzo치tegui
		p.footerContactLinks
			i.fa.fa-phone
			a(href='#').item  +58 (412) 875 52 99
			br
			i.fa.fa-phone
			a(href='#').item  +58 (412) 244 84 85
			br
			i.fa.fa-envelope
			a(href='mailto:anzoateguicpset@gmail.com').item  anzoateguicpset@gmail.com
			br
			i.fa.fa-twitter
			a(href='http://twitter.com/cpsetanzoategui' target='_blank').item  @cpsetanzoategui